/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7-Feb-2018, 10:52:48 AM
    Author     : vinz
*/

#blankCar {
    width: 90%;
    height: 80%;
}

#frontRim {
    width: 14%;
    height: 20%;
    position: absolute;
    top: 54%;
    left: 14%;
}
